<div class="card" style="width: 18rem">
  <img
    src="https://c8.alamy.com/compes/2c41e4f/concepto-de-entrega-rapida-rocket-divertido-con-caja-de-parcel-sobre-un-fondo-blanco-presentacion-3d-2c41e4f.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
